registry=https://registry.npmjs.org/

# Authentication token for publishing packages
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# Use a scoped registry for a specific scope
@energyweb:registry=https://registry.npmjs.org/
