*
!dist/**/*
!LICENSE
!README.md
!package.json
!yarn.lock
!submit-solution.js
!submit-solution.html
!energywebx-config.js
!energywebx-config.html
!is-nominated.html
!is-nominated.js
!is-nominated-v2.html
!is-nominated-v2.js
!consensus.html
!consensus.js
!icons/consensus.svg
!icons/nomination.svg
!icons/submit-result.svg